<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests">
    <test name="googleTest1" >
     <classes>
         <class name="com.udemy.spring.springselenium.googletest.GoogleTest1"/>
     </classes>
    </test>
    <test name="googleTest2" >
        <classes>
            <class name="com.udemy.spring.springselenium.googletest.GoogleTest2"/>
        </classes>
    </test>
    <test name="googleTest3" >
        <classes>
            <class name="com.udemy.spring.springselenium.googletest.GoogleTest1"/>
        </classes>
    </test>
    <test name="googleTest4" >
        <classes>
            <class name="com.udemy.spring.springselenium.googletest.GoogleTest2"/>
        </classes>
    </test>
<!--    <test name="googleTest5" >-->
<!--        <classes>-->
<!--            <class name="com.udemy.spring.springselenium.googletest.GoogleTest1"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="googleTest6" >-->
<!--        <classes>-->
<!--            <class name="com.udemy.spring.springselenium.googletest.GoogleTest2"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>